@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/* --------- Style início geral ----------*/
body {

    /* background-image: linear-gradient(to right, #e1e1e1ce 0,7%, #ffe9cb7c ); */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    margin-top: 0px;

}
.divlogo img {
    width: 70px;
}
.divlogo {
    background-color: #0d345c;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 2rem;
}
.menu-lista   {
    display: flex;
    align-items: center;
}
.menu-lista ul {
    display: flex;
    justify-content: center;
    list-style: none; /*tirar bolinhas */
}
.menu-item {
    margin: 0 15px;
}
.menu-link {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 400;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}

/* --- responsivo do botão menu --- */
@media screen and (max-width: 730px) {
    .divlogo {
        padding: 0.3rem 1rem;
    }
    .divlogo img {
        width: 35px;
    }
    .menu-item {
        display: none; 
    }
    .mobile-menu-icon {
        display: block; 
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer; 
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #0d345c;
    }  
    .mobile-menu .menu-item {
        display: block;
        padding-top: 1.2rem; 
    }
    /* javaScript */
    .open {
        display: block;
    }
}
/* ------- fim style geral ------- */



/* ----- style main ------- */
main {
  padding: 5%;
}
.container-intro {
    display: flex;
    margin-top: 50px;
}
.intro-textos {
    width: 50%;
    /* margin-right: auto; */
}
.titulo-intro {
    /* width: 49%; */
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
    color: #0d345c;
    font-size: 50px;  
}
.texto-intro {
    width: 80%;
    text-align: center;
    margin: auto;
   /* font-family: Noto Sans,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;  */
}
.imagemhome {
    width: 50%;
    margin-left:5%; 
}
.imagemhome img  {
   width: 100%;
}
/* --- the endless tale --- */
.h1-main {
    margin-top: 150px;
    width: 35%;
    margin-left: 5%;
}
.h1-main h1 {
    text-align: center;
    color: #0d345c;
    /* font-size: 50px; */
    /* font-size: 2.8vw; */
}
.h1-main a {
    text-decoration: none;
}
.h1-main p {
    text-align: center;
}
.imagem-1 {
    width: 100%;
}
/* fim the endless tale */

/* ----- FIM style main ------- */


/* --- responsividade geral --- */
@media screen and (max-width: 730px) {
    .container-intro {
        display: inline;
        width: 90%;
    }
    .intro-textos{
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .titulo-intro {
        margin-top: 40px;
        text-align: center;
        /* width: 50%; */
        /* text-align: center; */
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .imagemhome {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    /*--- the endless tale --- */
    .h1-main {
        margin-bottom: 50px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .h1-main h1 {
        font-size: 25px;
    }
    .h1-main p {
        font-size: 14px;
    }
    footer > p {
        text-align: center; 
        font-size: 9px; 
        padding: 10px;
    }
}
/* --- FIM responsividade geral --- */


footer > p {
    text-align: center;  
}
