@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #ef6124ce 0,7%, #f0a7487c );
   
}
main { 
     background-color: white;
     margin: auto;
     width: 80%;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 7px -5px 10px #8a612b;
     text-align: center;
     
}

h1 { text-align: center;
    
}
h3.menu {
  box-shadow: 7px 5px 20px #8a612b;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: auto;
  border-radius: 7px;
  padding: 4px;
  background-color:white;
  width: max-content

}


h3{ 
   
   }

  a {
    color: rgb(0, 0, 0);

  }

  mark {
    background-color: #fac580;
  }

  


  